<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a href="#" class="navbar-brand"> Sklep sportowy </a>
    </div>
  </div>
  <div class="row">
    <div class="col-3 bg-info p-2 text-white">
      {{ categories.length }} kategorie
    </div>
    <div class="col-9 p-2">
      <div *ngFor="let product of products" class="card m-1 p-1 bg-light">
        <h4 class="d-flex justify-content-between align-items-center">
          {{ product.name }}
          <span class="badge bg-primary">
            {{ product.price | currency: "PLN":"symbol":undefined:"pl-PL" }}
          </span>
        </h4>
        <div class="card-text bg-white p-1">
          {{ product.description }}
        </div>
      </div>
    </div>
  </div>
</div>
