<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a href="#" class="navbar-brand"> Sklep sportowy </a>
    </div>
  </div>

  <div class="row">
    <div class="col-3 p-2 text-white">
      <button
        class="btn btn-block btn-outline-primary my-1 w-100"
        (click)="changeCategory()"
      >
        Wszystkie
      </button>
      <button
        *ngFor="let cat of categories"
        class="btn btn-outline-primary my-1 w-100"
        [class.active]="cat == selectedCategory"
        (click)="changeCategory(cat)"
      >
        {{ cat }}
      </button>
    </div>

    <div class="col-9 p-2">
      <div *ngFor="let product of products" class="card m-1 p-1 bg-light">
        <h4 class="d-flex justify-content-between align-items-center">
          {{ product.name }}
          <span class="badge bg-secondary">
            {{ product.price | currency: "PLN":"symbol":undefined:"pl-PL" }}
          </span>
        </h4>
        <div class="card-text bg-white p-1">
          {{ product.description }}
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center p-1">
        <div class="form-inline">
          <select
            class="form-control"
            [value]="productsPerPage"
            (change)="changePageSize($event.target.value)"
          >
            <option value="2">2 na stronie</option>
            <option value="3">3 na stronie</option>
            <option value="4">4 na stronie</option>
            <option value="6">6 na stronie</option>
          </select>
        </div>

        <div class="btn-group">
          <button
            class="btn btn-outline-primary"
            *counter="let page of pageCount"
            (click)="changePage(page)"
            [class.active]="page == selectedPage"
          >
            {{ page }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
