<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center bg-dark p-2 text-white">
    <h3>Panel administratora</h3>
  </div>

  <div
    *ngIf="errorMessage != null"
    class="bg-danger mt-2 p-2 text-center text-white"
  >
    {{ errorMessage }}
  </div>

  <div class="p-1">
    <form novalidate #form="ngForm" (ngSubmit)="authenticate(form)">
      <div class="form-group">
        <label>Nazwa użytkownika</label>
        <input
          class="form-control"
          name="username"
          [(ngModel)]="username"
          required
        />
      </div>
      <div class="form-group">
        <label>Hasło</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="password"
          required
        />
      </div>
      <div class="text-center">
        <button class="btn btn-secondary m-1" routerLink="/store">Powróć</button>
        <button class="btn btn-primary m-1" type="submit">Zaloguj</button>
      </div>
    </form>
  </div>
</div>
